@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Poppins;
    background-color: #000;
    color: #eee;
    margin: 0;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #eee;
}

header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
    margin-right: 40px;
}

/* ===== CAROUSEL ===== */

.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

/* ВСЕ СЛАЙДЫ */
.carousel .List .item {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.6s ease;
}

/* ТОЛЬКО ПЕРВЫЙ ВИЗУАЛЬНО АКТИВЕН */
.carousel .List .item:first-child {
    opacity: 1;
}

/* IMAGE */
.carousel .List .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTENT */
.carousel .List .item .content {
    position: absolute;
    top: 15%;
    width: 1140px;
    max-width: 80%;
    left: 30%;
    transform: translateX(-50%);
    padding-left: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

/* TEXT */
.carousel .List .item .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .List .item .content .title,
.carousel .List .item .content .topic {
    font-weight: bold;
    font-size: 5em;
}

.carousel .List .item .content .topic {
    color: #f1683a;
}

/* BUTTONS */
.carousel .List .item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .List .item .content button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carousel .List .item .content button:nth-child(2) {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

/* ===== THUMBNAIL ===== */

.thumnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-weight: bold;
}

/* ===== ARROWS ===== */

.arrows {
    position: absolute;
    top: 80%;
    right: 60%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .3s;
    z-index: 100;
    cursor: pointer;
}

.arrows button:hover {
    background-color: #eee;
    color: #555;
}

/* ===== SIMPLE ACTIVE EFFECT ===== */

.carousel .List .item:first-child .author,
.carousel .List .item:first-child .title,
.carousel .List .item:first-child .topic,
.carousel .List .item:first-child .des,
.carousel .List .item:first-child .buttons {
    animation: showContent 0.6s ease forwards;
}

@keyframes showContent {
    from {
        opacity: 0;
        transform: translateY(40px);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

/* ===== TIME BAR ===== */

.time {
    width: 0%;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    width: 100%;
    animation: timeRunning 2s linear forwards;
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}

/* ===== MOBILE ===== */

@media screen and (max-width: 678px) {
    .carousel .List .item .content {
        padding-right: 0;
    }

    .carousel .List .item .content .title {
        font-size: 30px;
    }
}